.row {
width: 100%;
background-color: #FB9300;
}

.cards{ 
width: 50px;
height: 100px;
border: solid 5px #F54748; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif}body{background-color: #0ff}.container{background-color: rgb(232, 242, 245);padding: 50px 40px 20px;margin-top: 20px;margin-bottom: 20px;overflow: hidden;box-shadow: 5px 5px 25px #a7a7a7}.tag{text-align: center;font-size: 1.1rem}.fa-heart{color: rgba(255, 230, 0, 0.959);font-size: 30px}.card{height: 320px;padding: 10px 20px;border: none;box-shadow: -1px 3px 5px #a7a7a7}.testimonial{font-size: 0.9rem;line-height: 1.4rem;font-weight: 500}.active-star{color: #FBC02D;margin-bottom: 8px}.active-star:hover{color: #F9A825;cursor: pointer}.profile{padding-top: 10px}.name{font-weight: 700}.designation{font-size: 0.84rem;font-weight: 600}.owl-carousel{margin-bottom: 15px}.owl-carousel .owl-stage-outer{padding: 40px 10px;height: 380px}.owl-carousel .owl-item img{width: 45px !important;height: 45px;border-radius: 50%;object-fit: cover}.owl-theme .owl-nav [class*='owl-']{border-radius: 50% !important;background: inherit !important;border: 3px solid #bbb;color: #bbb !important}.owl-theme .owl-nav [class*='owl-']:hover{border: 3px solid #1010ca;color: #1010ca !important}@media(max-width: 575.5px){.container{margin: 0px;padding: 20px}}}


/* random stock photo */
/* 
rgb(245, 230, 202) - background color (tan)
rgb(251, 147, 0) - accent #1 (orange)
rgb(245, 71, 72) - accent #2 (red)
rgb(52, 63, 86) - main text color (dark blue)
*/

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(245, 230, 202);
    color: rgb(52, 63, 86);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(251, 147, 0, .5);
    padding: 20px;
}

h1 {
    font-family: 'Righteous', cursive;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.btn {
    background-color: rgb(245, 71, 72);
    border-radius: 10px;
    padding: 10px;
}

.btn-quiz {
    font-size: 1rem;
}

#hero {
    display: flex;
}

img {
    width: min(300px, 50%);
    border-radius: 10px;
}

section {
    background-color: rgba(52, 63, 86, .2);
    padding: 20px;
    margin-top: 10px;
}